:root {
    --bs-danger: #a7000b;
}

.bg-danger {
    background-color: #a7000b !important;
}

.nav-link:hover {
    color: #a7000b;
}

header {
    background-image: url(./img/metgala.webp);
    background-size: cover;
    color: whitesmoke;
    height: 50vh;
}

.card-body {
    height: 15vh;
}

.card-title {
    height: 6.5vh;
}
